html,body {
    width:100%;
    height:100%;
    padding:0;
     margin:0;
     overflow:hidden;
    }
    body {
     
        font-family: 'Segoe UI','Helvetica Neue','Helvetica','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-image:linear-gradient(180deg,#dddbd1,#d2dbdc)
      
    }
    .top{
        height:130px;
        width:100%;
        background-color:#009688;
       z-index:-1; 
       position:fixed;
      
    }
    .chatbox{
        height:calc(100% - 40px);
        width: 95%;
        margin-top:20px;
        background-color: white;
        padding:0;
       
    }
    .profile-pic{
        height:40px;
        width:40px;
    }
    .form-rounded{
        border-radius:1rem;
    }
    .friend-pic {
        height: 50px;
        width: 50px;
    }
    .chat-pic {
        height: 50px;
        width: 50px;
    }
    .name{
        font-weight:400;
        color:#000000;
    
    }
    .under-name{
        font-size:12px;
        line-height:15px;
        max-height:15px;
    
    }
    .icon{
        font-size:20px;
        color:#9ca1a3;
        cursor:pointer;
    }
    .recieve{
        background-color:lightgreen;
        border-radius:0.6rem;
        padding:10px 15px;
        display:inline-block;
    
    }
    .time{
        font-size:10px;
        color:#9ca1a3;
        margin-top:3px;
        margin-left:1%;
    }
    .sent {
        background-color: whitesmoke;
        border-radius: 0.6rem;
        padding: 10px 15px;
        display: inline-block;
    
    }
    .card{
        height:94vh;
    }
    #Message{
        overflow-y:scroll;
        overflow-x:hidden;
    }
    
    .dropdown-toggle::before {
        display: none !important;
    }
    #lstChat {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .dropdown-toggle::after {
        display: none !important;
    }
    #emojiContainer {
        position: absolute;
        top:-30vh;
        background-color:white;
        border-radius:5px;
        box-shadow:rgba(0,0,0,0.16) 0px 3px 6px,rgba(0,0,0,0.23) 0px 3px 6px
    }
        #emojiContainer #myTabContent
        {
            height:20vh;
        }
    #myTabContent a {
        text-decoration: none;
    }
    #emojiContainer {
        overflow-y: scroll;
        overflow-x: hidden;
    }